

//https://coolors.co/001524-15616d-ffecd1-ff7d00-78290f
$header-color: #001524;
$secondary-color:#15616d;
$background-color :#ffecd1; 
$primary-color:#ff7d00;
$footer-color:#78290f;

// couleur de text qui sont les opposés
$text-color: $header-color;
$text-header-color: $background-color;
$text-footer-color: $background-color;


