@import "normalize.scss";
@import "variables.scss";

body {
	color: $text-color;
	font: 16px "Source Sans Pro", Helvetica, sans-serif;
	line-height: 22px;
	background-color: white;

	a {
		color: $text-color;
		text-decoration: none;
	}
	
	& > header {
		width: 100%;
		background-color: $secondary-color;
		& > nav {
			width: 1000px;
			margin: 0 auto;
			background-color: $header-color;
			ul { 
				display: flex;
				list-style: none;
				padding: 0;
				margin: 0;
				li {
					a {
						color: $text-header-color;
					}
					&:hover {
						background-color: $primary-color;
					}
				}
			}
			
		}	
	}
	
	& > main {
		width: 100%;
		background-color: white;
		& > div {
			width: 1000px;
			margin: 0 auto;
			background-color: #EEEEFF;
		}
	}
	
	& > footer {
		width: 100%;
		background-color: lighten($theme-color, 30%);
		& > div {
			width: 1000px;
			margin: 0 auto;
			background-color: $theme-color;
			color: white;
			a {
				color: white;
			}
		}
	}

	
	article {
		width: 1000px;
		margin: 0 auto;
	}

}